email_attachment_to_cloud_storage.json

{
  "nodes": [
    {
      "parameters": {
        "folderId": "",
        "fileKey": "={{ $json.attachments[0].filename }}",
        "binaryData": true,
        "options": {}
      },
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "options": {
          "folder": "INBOX",
          "markAsRead": true
        }
      },
      "name": "IMAP Email Read",
      "type": "n8n-nodes-base.imapEmail",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "options": {}
      },
      "name": "Download Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    }
  ],
  "connections": {
    "IMAP Email Read": {
      "output": [
        [
          { "node": "Download Attachment", "index": 0 }
        ]
      ]
    },
    "Download Attachment": {
      "output": [
        [
          { "node": "Google Drive Upload", "index": 0 }
        ]
      ]
    }
  }
}

